 body{
    background-color:#bde4ea ;
}
 h4{
    color : rgb(0, 162, 255);
    font-style: italic;
}
 .lastimage {
     background-color: rgb(42, 110, 165);
     width: 50px;
     
}
.first{
    color: black;
}
img:hover, a:hover{
   background-color: coral;
}
h1{
    text-align: center ;
    color: rgba(238, 165, 138, 0.966);
    
    
}
hr{
    border-color: rgb(175, 171, 170);
    border-style: dotted;
   
}